<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kayl Karadjian</title>
    <link rel='icon' href='../imgs/logo.png'/>
    <script defer src="../main/main.js"></script>
    <script defer src='../main/header.js'></script>
    <link rel="stylesheet" href="../main/reset.css" />
    <link rel="stylesheet" href="../main/main.css" />
    <link rel="stylesheet" href="../main/header.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Raleway:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    {{>header}}
    <section class='main'>
        <div class='profile'>
          <img class='profile__pic pic-1' src="/imgs/profilepic-1.jpg" />
          <img class='hidden profile__pic pic-2' src="/imgs/profilepic-2.jpg" />
          <img class='hidden profile__pic pic-3' src="/imgs/profilepic-3.jpg" />
          <img class='hidden profile__pic pic-4' src="/imgs/profilepic-4.jpg" />
          <a id='github-link' href='https://github.com/KIGlacius' target="_blank">Github: @KIGlacius</a>
          <a id='linkedin-link' href='https://www.linkedin.com/in/kayl-karadjian-25a987224/' target="_blank">LinkedIn</a>
        </div>
        <div class='bio'>
          <h1 id='bio__title'>Bio</h1>
          <p id='bio__body'>Hello and welcome to my page. My name is Kayl Karadjian. I love learning and exploring new things. I hold both a master's and bachelor's degree in Exercise Physiology, and I am currently earning a bachelor's in Computer Science. I build software every day. Please take a look at some of the projects I have worked on. You can find the links to those at the header up top or in the Links section of this page. You can also check out my LinkedIn and Github via the links underneath my photo.</p>
        </div>
        <div class='links'>
          <h1 id='links__title'>Links</h1>
          <ul>
            <li class='links__container'>
              <p class='links__body'>
              <a id='links__link' href="/nutrition">Nutrition App</a> - a food-search app that allows the user to search the nutritional value of foods. Among other things, this project highlights OOP and the MVC architectural pattern for modern, clean, and maintainable code.
              </p> 
            </li>
            <li class='links__container'>
              <p class='links__body'>
              <a id='links__link' href="/timeup">TimeUp</a> - a film-search app that allows the user to add film run times to a total. Among other things, this project highlights Async/Await and the fetch API,  and functions to accurately parse and render film runtimes onto an added total split between years, days, hours, and minutes. 
              </p> 
            </li>
            <li class='links__container'>
              <p class='links__body'><a id='links__link' href="/triviagame">Trivia Game</a> - an Anime-based trivia game where the user answers questions based on fictional characters. Among other things, this project highlights DOM manipulation such as event delegation and module bundling with Parcel.</p>
            </li>
          </ul>
        </div>
    </section>
    {{>footer}}
  </body>
</html>