<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TimeUp</title>
    <link rel='icon' href='../imgs/logo.png'/>
    <script defer type="module" src="../timeup/timeup.js"></script>
    <script defer src='../main/header.js'></script>
    <link rel="stylesheet" href="../main/reset.css" />
    <link rel="stylesheet" href="../main/header.css" />
    <link rel="stylesheet" href="../timeup/timeup.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Raleway:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    {{>header}}
    <header class="header">
      <ul class="runtime__container">
        <ul class="hidden years__container">
          <li class="time years">0</li>
          <li class="time__text">year</li>
        </ul>
        <ul class="hidden days__container">
          <li class="time days">0</li>
          <li class="time__text">day</li>
        </ul>
        <ul class="hidden hours__container">
          <li class="time hours">0</li>
          <li class="time__text">hour</li>
        </ul>
        <ul class="hidden min__container">
          <li class="time min">0</li>
          <li class="time__text">min</li>
        </ul>
      </ul>
      <form class="search__container">
        <input type="string" class="search__bar" placeholder="Search..." />
      </form>
    </header>
    <div class="hidden login__container">
      <h1 class="login__title">Login</h1>

      <form class="login__form">
        <label for="username">Username:</label>
        <input
          class="username__input"
          type="text"
          name="username"
          placeholder="Type username here."
        />

        <label for="password">Password:</label>
        <input
          class="password__input"
          type="text"
          name="password"
          placeholder="Type password here."
        />
        <input type="submit" class="btn submit__btn" />
      </form>
    </div>

    <section class="movie__searches__container"></section>
    {{>footer}}
  </body>
</html>