<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer type="module" src="../triviagame/triviagame.js"></script>
    <script defer src='../main/header.js'></script>
    <link rel="stylesheet" href="../main/reset.css" />
    <link rel="stylesheet" href="../main/header.css" />
    <link rel="stylesheet" href="../triviagame/triviagame.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Raleway:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Trivia Game</title>
  </head>
  <body>
    {{>header}}
    <main class="container">
      <div class="hidden overlay"></div>
      <section class="header">Choose Your Trivia!</section>
      <div class="icon__container">
        <div class="icons goku">
          <img
            class="icon goku__icon"
            type="image"
            src="/imgs/goku_base.png"
            alt="Goku"
          />
          <span class="hover__icon goku__hover">Hi, I’m Goku! Are you ready to
            test your skills? I won’t hold back!
          </span>
        </div>
        <div class="icons yoruichi">
          <img
            class="icon yoruichi__icon"
            type="image"
            src="/imgs/yoruichi_base.png"
            alt="Yoruichi"
          />
          <span class="hover__icon yoruichi__hover">Think you've got what it
            takes? Hmph. I doubt you can keep up with me.
          </span>
        </div>
        <div class="icons laxus">
          <img
            class="icon laxus__icon"
            type="image"
            src="/imgs/laxus_base.png"
            alt="Laxus"
          />
          <span class="hover__icon laxus__hover">Challenging me? I bet you won't
            even get past the first round.</span>
        </div>
        <div class="icons vegeta">
          <img
            class="icon vegeta__icon"
            type="image"
            src="/imgs/vegeta_base.png"
            alt="Vegeta"
          />
          <span class="hover__icon vegeta__hover">You won't even make me go
            Super Saiyan.</span>
        </div>
        <div class="icons ichigo">
          <img
            class="icon ichigo__icon"
            type="image"
            src="/imgs/ichigo_base.png"
            alt="Ichigo"
          />
          <span class="hover__icon ichigo__hover">Ready for our training?</span>
        </div>
        <div class="icons saito">
          <img
            class="icon saito__icon"
            type="image"
            src="/imgs/saito_base.png"
            alt="Saito"
          />
          <span class="hover__icon saito__hover">A true swordsman can deflect my
            blade. Will you?</span>
        </div>
      </div>
    </main>
    <div class="left">
      <span class="icon container__icon"></span>
      <span class="hidden right__answer"></span>
    </div>
    <div class="right">
      <span class="score__box">
        <p class="score">Score</p>
        <p class="score__num">3</p>
      </span>
    </div>
    <div class="confirm__container"></div>
    {{>footer}}
  </body>
</html>