<header class="header-hbs">
  <h1 id="Kayl">Kayl Karadjian - Software Engineer</h1>
  <div class="page__links">
    <p class="navigation">Navigation:</p>
    <a class="link" href="/">Home Page</a>
    <a class="link" href="/nutrition">Nutrition App</a>
    <a class="link" href="/timeup">TimeUp</a>
    <a class="link" href="/triviagame">Trivia Game</a>
    <span class="menu-icon">
      <i class="fa fa-bars"></i>
    </span>
  </div>
</header>